/* HELPER */
.redborder {
  border: 2px solid red !important;
}

.greenborder {
  border: 2px solid green;
}

.blueborder {
  border: 2px solid blue;
}

/* HEADER AND FOOTER PLACEHOLDER */

header {
  width: 100%;
  height: 100px;
  background-color: #a4968e;
  margin-bottom: 0;
  margin-top: 0;
}

footer {
  width: 100%;
  height: 500px;
  background-color: #a4968e;
}

body {
  margin: 0;
}
