/* SHOPPING CART PAGE */

/* Make grid system instead? */

.shoppingcart-h1 {
  font-family: "Raleway", sans-serif;
  font-size: 2.5vw;
  display: flex;
  justify-content: center;
}

.shoppingcart-cup-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: row;
}

.shoppingcart-cup {
  width: 25vw;
  max-width: 100%;
}

.shoppingcart-alltext {
    display: flex;
    flex-direction: column;
    margin-left: 1%;
}

.shoppingcart-pernilla-text {
    font-family: "Lora", serif;
    max-width: 300px;
  }
  
  .shoppingcart-price {
      font-family: 'Lusitana', serif;
  }