/* HEADER AND FOOTER PLACEHOLDER */

header {
  width: 100%;
  height: 100px;
  background-color: #a4968e;
}

footer {
  width: 100%;
  height: 500px;
  background-color: #a4968e;
}

/* SHOPPING CART PAGE */

/* Make grid system instead? */

.shoppingcart-h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 3vw;
  font-weight: lighter;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.shoppingcart-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
  "shoppingcart-cup shoppingcart-alltext discount-total-container";
  width: 100%;
}

.shoppingcart-cup-container {
  display: flex;
  /* min-width: 1275px; */
}

.shoppingcart-cup {
  width: 20vw;
  max-width: 100%;
  margin-left: 110px;
  margin-bottom: 200px;
  grid-area: shoppingcart-cup;
}

.shoppingcart-alltext {
    margin-left: 15px;
    grid-area: shoppingcart-alltext;
    width: 100%;
}
  
  .shoppingcart-price .shoppingcart-amount-one {
      font-family: 'Lusitana', serif;
  }

  .shoppingcart-h2 {
    font-family: 'raleway', sans-serif;
  margin-top: 0;
  margin-bottom: 2px;
  }

.shoppingcart-price {
  margin-top: 0;
  margin-bottom: 9vw;
}

.shoppingcart-pernilla-text {
  font-family: "Lora", serif;
  max-width: 300px;
  min-width: 200px;
  margin-bottom: 9vw;
}

.shoppingcart-amount-container {
  display: flex;
  gap: 10px;
}

  .shoppingcart-amount {
    font-family: 'raleway', sans-serif;
  }

.pernilla-trashcan {
  display: flex;
 column-gap: 10vw;
}

.trash-can-icon {
  color: black;
}

.trash-can-icon:hover {
  cursor: pointer;
 animation: shake;
 animation-duration: 0.5s;
}

/* TRASH CAN ANIMATION */

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  25%, 75% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(2px);
  }
}

.dropdown-shoppingcart-container {
  display: flex;
  gap: 15px;
  /* display: inline-block;
  overflow: hidden; */
}

.description-button {
  display: flex;
  width: 151px;
  height: 36px;
  font-size: 15px;
align-items: center;
justify-content: space-between;
border-radius: 5px;
background-color: #006633;
color: white;
border: none;
cursor: pointer;
padding-left: 5%;
}

.description-dropdown-shoppingcart {
  background-color: #006633;
  color: white;
  border-radius: 5px;
  font-family: "raleway", sans-serif;
  font-size: 13px;
  padding: 2%;
  padding-left: 5%;
}

/* .description-dropdown-shoppingcart {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  background-color: #006633;
  color: white;
} */

.careinstructions-button {
  display: flex;
  width: 204px;
  height: 36px;
  font-size: 15px;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  border: none;
  background-color: #006633;
  color: white;
  cursor: pointer;
  padding-left: 5%;
}

.careinstructions-dropdown-shoppingcart {
  background-color: #006633;
  color: white;
  border-radius: 5px;
  font-family: "raleway", sans-serif;
  font-size: 13px;
  padding: 2%;
  padding-left: 5%;
}

/* DISCOUNT AND TOTAL SIDE OF PAGE */

.discount-total-container {
  grid-area: discount-total-container;
  width: 100%;
  grid-column: end;
  margin-top: 6vh;
}

.discount-box {
  width: 219px;
height: 42px;
  padding-left: 10px;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  background-color: #d9d9d9;
  outline: none;
}

.add-discount-button {
  height: 42px;
  /* padding-left: 13px;
  padding-right: 13px; */
  border-radius: 5px;
  border: none;
  font-size: 20px;
  background-color: #006633;
  color: white;
  margin-left: 15px;
  margin-right: 110px;
  width: 73px;
}

.discount-font {
  font-family: "raleway", sans-serif;
}

.ordervalue-price-container {
  display: flex;
  margin-top: 7%;
}

.ordervalue {
  margin: 0;
}

.ordervalue-price {
  font-family: "lusitana", serif;
  margin: 0;
  margin-left: auto;
  margin-right: 110px;
}

.delivery-free-container {
  display: flex;
 margin-top: 3%;
}

.delivery-discount {
  margin: 0;
}

.freeshipping-discount {
  margin: 0;
  margin-left: auto;
  margin-right: 110px;
}

.line-discount {
  margin-right: 110px;
margin-top: 3%;
}

.total-price-container {
  display: flex;
  margin-top: 3%;
}

.total-discount {
  margin: 0;
}

.totalprice-discount {
  font-family: "lusitana", serif;
  margin: 0;
  margin-left: auto;
  margin-right: 110px;
}

.tocheckout-button {
  margin-top: 10%;
  background-color: #006633;
  color: white;
  border-radius: 5px;
  border: none;
  outline: none;
padding-top: 15px;
padding-bottom: 15px;
font-size: 24px;
width: 320px;
margin-right: 110px;
}


/* EMPTY SHOPPING CART */

.emptycart-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.emptycart-h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 3vw;
  font-weight: lighter;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

.emptycart-text {
  display: flex;
  justify-content: center;
 align-items: center;
 font-family: "raleway", sans-serif;
 font-weight: lighter;
 font-size: 2.5vw;
 height: 100%;
 margin: 0;
}