/* PURCHASE PAGE */

.purchase-h1 {
  font-family: "raleway", sans-serif;
  font-size: 3vw;
  font-weight: lighter;
  display: flex;
  justify-content: center;
  text-align: center;
}

.purchase-h2 {
  font-family: "raleway", sans-serif;
  font-size: 2vw;
  font-weight: lighter;
  display: flex;
  justify-content: center;
  text-align: center;
  color: rgba(00, 00, 00, 0.6);
}

.purchase-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.purchase-cup {
  width: 12vw;
  border-radius: 2px;
  padding-right: 0;
  margin-right: 0;
}

.purchase-alltext {
  width: 100%;
  margin-top: 15%;
}

.purchase-pernilla-h2 {
  font-family: "raleway", sans-serif;
  margin-top: 6vh;
  margin-bottom: 2px;
}

.purchase-price {
  margin-top: 0;
  margin-bottom: 7vh;
  font-family: "lusitana", serif;
}

.purchase-amount-container {
  display: flex;
  gap: 10px;
}

.purchase-amount,
.purchase-postagent,
.purchase-icamaxi {
  font-family: "raleway", sans-serif;
}

.purchase-amount-one {
  font-family: "lusitana", serif;
}

.purchase-img-article-container {
  display: flex;
  min-width: 200px;
  gap: 15px;
}

.purchase-articlenr-container {
  display: flex;
  font-size: 15px;
  gap: 10px;
}

.purchase-article-h4 {
  font-family: "raleway", sans-serif;
  font-weight: lighter;
  margin-top: 2%;
}

.purchase-article-nr {
  font-family: "lusitana", serif;
  margin-top: 2%;
}

.purchase-ordering-h2 {
  font-family: "raleway", sans-serif;
  font-size: 1.5rem;
  font-weight: lighter;
  margin-bottom: 0;
}

.purchase-line {
  margin-top: 2%;
  margin-bottom: 0;
}

.purchase-h3 {
  font-family: "raleway", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}

.purchase-totalamount,
.purchase-order-number,
.purchase-delivery {
  display: flex;
  gap: 10px;
}

.purchase-delivery {
  align-items: center;
}

.purchase-total-h3,
.purchase-totalprice,
.purchase-ordnr-h3,
.purchase-ordnr {
  margin-bottom: 1%;
}

.purchase-delivery-h3,
.purchase-postagent {
  margin-bottom: 0;
}

.purchase-postagent {
  font-size: 5vh;
  display: flex;
  align-items: end;
}

.purchase-icamaxi {
  margin-top: 0;
  margin-bottom: 15vh;
  font-size: 1.5rem;
}

.purchase-ordnr,
.purchase-totalprice {
  font-family: "lusitana", serif;
  font-size: 1.5rem;
  display: flex;
  align-items: end;
}

.purchase-amount-one {
  border: 1.5px solid black;
  padding-left: 8px;
  padding-right: 8px;
}
