/* PRODUCT INFORMATION PAGE */

/* adds roundness to images */
.productinfo-image {
  border-radius: 2px;
  width: 13rem;
  height: auto;
}

.grid-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.productinfo-header {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

/* PRODUCT INFORMATION PAGE AND ITS FILTER TEXT + ICON */

.filter-text {
  font-size: 25px;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  margin-left: auto;
}

.filter-icon {
  width: 2rem;
  float: right;
  opacity: 0.8;
}

/* making a grid of the images, three columns and a 10% gap between the images */

.productinfo-cups {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5%;
  margin: auto;
}

.productimage-container {
  margin: auto;
}

/* Text under each image, the margin makes the padding get less spacious */

.first-row-product {
  margin: auto;
  grid-area: text;
  margin-right: 0%;
  margin-top: 0%;
  font-family: "Raleway", sans-serif;
  font-size: 15pt;
}

.second-row-product {
  margin: auto;
  grid-area: text;
  margin-bottom: 0%;
  margin-top: 0%;
  font-family: "Lusitana", serif;
  font-weight: 400;
  font-size: 15pt;
}

/* PRODUCT VIEW PAGE */

.productimage-outer {
  margin: auto;
}

/*row containing the alternate image column, main product image, and product info*/
.productimage-row {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin: auto;
  padding-right: 0px;
}

.productview-image {
  flex-direction: column; /* Stack elements vertically */
  margin: auto;
  border-radius: 2px;
  align-items: center;
}

/* TEXT INFORMATION PRODUCT PAGE */
.grid-info {
  width: 50%;
}

.first-row-pernilla {
  font-family: "Raleway", sans-serif;
  font-size: 20pt;
  font-weight: 400;
  margin-left: 10%; /* Moves text right of the page */
  margin-right: 0;
}

.second-row-pernilla {
  margin-bottom: 0%;
  margin-top: 0%;
  font-family: "Lusitana", serif;
  font-weight: 400;
  font-size: 17pt;
  margin-left: 10%;
  margin-right: 0;
}

.pernilla-cup-paragraph {
  font-family: "Lora", serif;
  margin-left: 10%;
  margin-right: 0;
  font-size: 13pt;
  font-weight: 400;
}

.productimage-container {
  border-radius: 2px;
}

.flex-info {
  display: flex;
  flex-direction: row;
  height: 11rem;
}

/*column containing the alternate product images "sub images"*/
.flex-subimages {
  display: flex;
  flex-direction: column;

  margin: 5px;
  margin-top: 0px;
}

/* contains the main product image */
.productimage-main {
  width: 100%;
  margin: 5px;
}

/* images inside the column beside the main image */
.sub-image {
  height: 5rem;
  margin-bottom: 5px;
  margin-top: 0px;
}

/* RECOMMENDED */

.recommended-items {
  font-family: "Raleway", sans-serif;
  font-size: 15pt;
  font-weight: 400; /* regular sizing */
  margin-top: 5%;
  text-align: center;
}

.recommended-container {
  margin: auto;
}

.recommended-images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  border-radius: 2px;
}
