/*Make sure content fits the whole page*/ /* 0px 0px 0px 0px It reads */

body {
  padding: 0;
  margin: 0;
}

/* PRODUCT INFORMATION PAGE */

.productinfo-image {
  border-radius: 2px; /* adds roundness to images */
  width: 13rem; /* REM unit fits good. Unlike pixels, rem is more consistent between screen-sizes and is independent of pixel resolution. */
  height: auto;
}

.productinfo-header {
  font-family: "Raleway", sans-serif;
  animation-name: myanimation; /*Links the animation*/
  animation-duration: 5s;
  animation-timing-function: linear; /* makes the text move at even speed during the animation  */
  font-size: 3rem;
  font-weight: 200; /* Adding font-weight makes it bolder */
  text-align: center;
}

@keyframes myanimation {
  0% {
    text-shadow: 0px -5px rgb(0, 102, 51); /* 0px horizontal, -5px vertical and color */
  }
  25% {
    text-shadow: 0px 0px rgb(0, 102, 51);
  }
}

/* PRODUCT INFORMATION PAGE AND ITS FILTER TEXT + ICON */

.grid-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: auto;
  padding: auto;
}

.filter-text {
  font-size: 1.5rem;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  margin-left: auto;
  border: none;
  outline: none;
  background-color: #fff;
  margin-top: 5%;
  margin-bottom: 5%;
}

.filter-icon {
  width: 2rem;
  float: right;
  opacity: 0.8;
}

.filter-text:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* Style the drop-down panel. Note: hidden by default */

.inside-filter {
  width: 100%;
  height: 20rem;
  margin: auto;
  background-color: rgb(0, 102, 51);
  position: absolute; /* The solution I found for getting the border box over the images WITHOUT it affecting the background. */
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 800;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

/* colour options */

/* flex on colour text two rows */

.colour-options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 10%;
}

.colour-container {
  display: inline-block;
  margin: 0 auto;
}

.filtercolor {
  text-align: left;
  margin-bottom: 25%;
  font-size: 20px;
  font-weight: 500;
  white-space: nowrap;
}

.checkbox-flex {
  width: 20px;
  height: 15px;
}

.red-filtercolor {
  color: rgb(223, 31, 31);
}

.blue-filtercolor {
  color: blue;
}

.black-filtercolor {
  color: black;
}

.beige-filtercolor {
  color: rgb(233, 188, 133);
}

.multicolour-filtercolor {
  color: magenta;
}

/* price slider */

.price-slider {
  margin-top: 5%;
  width: 70%;
}

.price-options {
  margin: 0 auto;
  width: 70%;
}

.price-slider-container {
  width: 100%;
  display: flex;
  flex-direction: column; /* Display children in a column */
  align-items: center; /* Optional: Center items horizontally */
}

.flex-currency {
  /* display: flex;
  gap: 80%;
  font-size: 15px;
  font-weight: 500;
  text-align: center; */
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: auto;
  padding: 0;
  font-size: 15px;
  font-weight: 500;
}

.fifty-sek {
  text-align: left;
}

.three-sek {
  text-align: right;
}

/* sort by */
#sort-by-container {
  display: inline-block;
  margin: 0 auto; /* 0 stands for left and right and auto for top and bottom */
}

.sort-by-item {
  margin-top: 10%;
  text-align: left;
}

.sorting-flexbox {
  display: flex;
  margin: auto;
  text-align: left;
}

/* THE THREE HEADERS IN THE FILTER BOX */

.filter-type-title {
  /* text-align: center; */
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 20px;
  font-weight: 500;
}

.checkbox-sort {
  width: 20px;
  height: 15px;
  margin: 0;
}

.filter-hidden {
  display: none;
} /* The !important tag prioritizes conflicting styles which made me solve the issue of not being able to exit the  filter-page. */

/* making a grid of the images, three columns and a 10% gap between the images */

.productinfo-cups {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5%;
  margin: auto;
}

.productimage-container {
  margin: auto;
  border-radius: 2px;
}

/* Text under each image, the margin makes the padding get less spacious */

.first-row-product {
  margin: auto;
  grid-area: text;
  margin-right: 0%;
  margin-top: 0%;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
}

.second-row-product {
  margin: auto;
  grid-area: text;
  margin-bottom: 0%;
  margin-top: 0%;
  font-family: "Lusitana", serif;
  font-weight: 400;
  font-size: 0.5 rem;
}

/* PRODUCT VIEW PAGE */

.productimage-outer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*row containing the alternate image column, main product image, and product info*/
.productimage-row {
  display: flex;
  flex-direction: row;
  width: max-content;
}

.productview-image {
  border-radius: 2px;
  justify-self: center;
  width: 25vw;
  height: auto;
  object-fit: contain;
}

/*column containing the alternate product images "sub images"*/

.sub-images-align {
  display: flex;
  flex-direction: row;
}
.flex-subimages {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 0.33rem;
  width: min-content;
}

/* images inside the column beside the main image */
.sub-image {
  /* height: 10rem; */
  margin-bottom: 5px;
  margin-top: 0.2xrem;
  border-radius: 2px;
  margin-bottom: 0.33rem;
  width: 10vw;
}

/* TEXT INFORMATION PRODUCT PAGE */
.grid-info {
  width: 50%;
}

.first-row-pernilla {
  font-family: "Raleway", sans-serif;
  font-size: 20pt;
  font-weight: 400;
  margin-left: 10%; /* Moves text right of the page */
  margin-right: 0;
}

.second-row-pernilla {
  margin-bottom: 0%;
  margin-top: 0%;
  font-family: "Lusitana", serif;
  font-weight: 400;
  font-size: 17pt;
  margin-left: 10%;
}

.pernilla-cup-paragraph {
  font-family: "Lora", serif;
  margin-left: 10%;

  font-size: 13pt;
  font-weight: 400;
}

/* BUTTONS DELIVERY AND CARE INSTRUCTIONS, PRODUCT VIEW PAGE */

.dropdownbutton {
  display: flex;
  width: 151px;
  height: 36px;
  font-size: 15px;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  border: none;
  background-color: #006633;
  color: white;
  cursor: pointer;
  padding-left: 5%;
}

#grid-buttons {
  display: flex;
  margin-left: 10%;
  gap: 10px;
}

/* Following four classes were adapted from https://www.w3schools.com/css/css_dropdowns.asp */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #006633;
  width: 146px;
  color: white;
  font-family: "raleway", sans-serif;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-left: 5px;
}

#careDropdownContent {
  width: 199px;
}

.dropdown-show-content {
  display: block;
}

/* add to cart button */

.add-to-cart-container {
  display: inline-block;
  text-align: center;
  margin-left: 10%;
}

#add-to-cart-button {
  text-align: center;
  margin-top: 20%;
  white-space: nowrap;
  height: 40px;
  font-size: 15px;
  justify-content: space-between;
  padding: 0 1rem;
  white-space: nowrap;
  border-radius: 5px;
  background-color: #006633;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0 1.5rem;
}

/* RECOMMENDED */

.recommended-items {
  font-family: "Raleway", sans-serif;
  font-size: 15pt;
  font-weight: 400;
  margin-top: 10%;
  text-align: center;
}

.recommended-container {
  margin: auto;
}

.recommended-images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  border-radius: 2px;
}

/* MEDIA QUERY 900 PX OR LESS*/

@media only screen and (max-width: 900px) {
  /* .productview-image {
    width: 40vw;
  } */

  /* #grid-buttons {
    margin: auto;
    margin-top: 5%;
   
    font-size: 20px;
    font-weight: 500;
  } */
}

/* MEDIA QUERY 830 PX */

@media only screen and (max-width: 830px) {
  .productinfo-cups {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #filter-text {
    text-align: center;
    font-size: 1rem;
  }

  .filter-icon {
    display: none;
  }

  .productview-image {
    border-radius: 2px;
    object-fit: contain;
    width: 50vw;
    /* max-width: 400px; Set a maximum width for the image */
    height: auto;
  }

  .sub-images-align {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    margin-top: 5%;
  }

  .productinfo-header {
    font-size: 1.5rem;
    text-align: center;
  }
  .productimage-row {
    display: flex;
    flex-direction: column; /* Stack items vertically on smaller screens */
    align-items: center;
    text-align: center;
    margin: 0;
  }

  /* PRODUCT VIEW */
  .first-row-pernilla,
  .second-row-pernilla {
    margin-left: 0;
  }

  .grid-info {
    max-width: 800px; /* Set a maximum width for the text content */
    width: 100%;
    margin-top: 10px; /* Add spacing between the image and text */
    margin: 0 auto;
    align-items: center;
  }
  /* images inside the column beside the main image */
  .sub-image {
    border-radius: 2px;
  }

  .pernilla-cup-paragraph {
    line-break: normal;
    font-size: 20px;
    margin: 5%;
  }

  .recommended-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    border-radius: 2px;
  }

  /* button alignment */

  #grid-buttons {
    margin: auto;
    margin-right: 5%;
  }

  .stacking {
    width: min-content;
    margin-left: 0%;
    margin: auto;
    align-items: center;
  }

  .add-to-cart-container {
    margin-left: 0;
  }
}

/* MEDIA QUERY 520 PX */

@media only screen and (max-width: 520px) {
  /* PRODUCT INFORMATION PAGE */

  /* filter header removing icon and smaller font-size */

  .inside-filter {
    height: min-content;
    padding-top: 2rem;
    padding-bottom: 4rem;
  }

  /* changing the grid of filter text in 2 rows 12-product page */

  .inside-filter {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
  }

  #filter-text {
    font-size: 1rem;
  }

  .filter-icon {
    display: none;
  }

  /* price slider changing format */

  .price-slider {
    width: 80%;
    margin: auto;
  }
  .flex-currency {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: auto;
    padding: 0;
    font-size: 15px;
    font-weight: 500;
  }

  /* Changing the color tag and everything under it */

  .inside-filter {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
  }

  .colour-options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5%;
    width: 100%;
    font-size: 12px;
  }

  .filtercolor {
    text-align: left;
    margin-top: 5%;
    margin-bottom: 25%;
    font-size: 20px;
    font-weight: 600;
    margin-left: 0;
  }

  .checkbox-flex {
    align-items: center;
  }

  /* changing product information text, font-size */

  .first-row-product {
    margin: auto;
    font-size: 1 rem;
  }

  .second-row-product {
    margin: auto;
    font-size: 0.5 rem;
  }

  /* MEDIA QUERY PRODUCT VIEW */

  @media only screen and (max-width: 520px) {
    .productview-image {
      border-radius: 2px;
      object-fit: contain;
      max-width: 400px; /* Set a maximum width for the image */
      height: auto;
    }
  }

  /* TEXT ABOUT THE PERNILLA CUP */
  @media only screen and (max-width: 520px) {
    .productimage-row {
      display: flex;
      flex-direction: column; /* Stack items vertically on smaller screens */
      align-items: center;
      text-align: center;
      margin: 0;
    }

    .first-row-pernilla,
    .second-row-pernilla {
      margin-left: 0;
    }

    .first-row-pernilla,
    .grid-info {
      max-width: 800px; /* Set a maximum width for the text content */
      width: 100%;
      margin-top: 10px; /* Add spacing between the image and text */
      margin: 0 auto;
      align-items: center;
    }

    .pernilla-cup-paragraph {
      line-break: normal;
      font-size: 20px;
      margin: 5%;
    }

    .recommended-images {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: auto;
      border-radius: 2px;

      #mickan-hidden {
        display: none;
      }
    }

    /* button alignment */

    #grid-buttons {
      margin: auto;
      margin-right: 5%;
    }

    .horizontal-stack {
      width: min-content;
      margin-left: 0%;
      margin: auto;
      align-items: center;
    }
  }
}
