
    
    
    .header-content {
    margin: 0;
    padding: 0;
    }
    
    
    .login-button :hover {
    background-color: rgb(157, 157, 157);
    }
    
    
    .main-header {
    padding: 10px 10%;
    background-color: rgb(164, 150, 141);
        height: 10vh;
       margin: 0;

    }
    
    
    .container {
    width: 80%;
    margin: 0 auto;
    }
    
    
    .icon-pictures {
    height: 30px;
    margin-left: 50px;
    transform: translateX(600px);
   
    }
    
    
    .icon-searchbar {
    height: 100px;
   margin-top: -40px;
    }
    
    
    .h1-header {
    margin: 0;
    }
    
    
    .homepage-pictures {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 100px;
    margin-top: 40px;
    margin-right: 100px;
    column-gap: 5%;
    }
    
    
    .main-pictures {
    display: grid;
    height: 500px;
    width: 100%;
    }
    
    
    .campaign-picture {
        width: 100%;
        padding-top: 10%;
    }

    .list-header {
        display: flex;
        gap: 5%;
    font-size: 18px;
    
    }

    .header-two {
        background-color: rgb(75, 54, 29) ;
        margin: 0;
        padding: 1px;
    }

    .link-header {
        color: white;
    }

/* The next 6 classes where adapted from https://www.w3schools.com/howto/howto_css_image_text.asp?fbclid=IwAR0dGFRfX4da7FFMYaD_jnl8w5N_KdE3E66LIraRnuLyNUK_MQ1f-9rc_JE */

    .container-coffee {
        position: relative;
        text-align: center;
        color: black;
    }

    .centered {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 5vh;
        
    }


    .container-bowls {
        position: relative;
        text-align: center;
        color: black;
    }

    .centered-bowls {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 5vh;
    }

    .container-plates {
        position: relative;
        text-align: center;
        color: black;
    }

    .centered-plates {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 5vh;

    }

    .container-campaign {
        position: relative;
        text-align: center;
        color: white;
    }

    .centered-campaign {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 18vh;
    }

    .centered-text {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 5vh;

    }
    
    .text-coffee {
        position: absolute;
        top: 95%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: black;
        font-size: 3vh;
    }

    .text-plates {
        position: absolute;
        top: 95%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: black;
        font-size: 3vh;
    }

    .text-bowls {
        position: absolute;
        top: 95%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: black;
        font-size: 3vh;
    }

    .footer-headline {
    margin-top: 10%;   
    }

    .footer-aboutus {
        margin: 3%;
    }

    .footer-contactus {
        margin-right: 3%;
    }

    .footer-container {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        max-width: 800px;
        margin: 0 auto;
        gap: 35%;
    }

    .footer-textinfo {
        font-size: 17px;
    }

    .footer-member {
        margin-top: 10%;
        text-align: center;
        font-size: 35px;
    }

    .footer-membertext {
        text-align: center;
        font-size: 17px;
        margin-top: -1%;
    }